# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake output
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
CTestTestfile.cmake

# build files
build/
ext/src/
ext/tmp/
Testing/
demo/cql_demo
test/cql_test

# editor
*.swp
*~
.#*
#*

# OSX
.DS_Store